<h1>New publication</h1>

<%= render "form", publication: @publication %>

<br>

<div>
  <%= link_to "Volver a Publicación", publications_path , class:'bi bi-house-door btn btn-outline-primary'%>
</div>
