<div id="<%= dom_id board %>">  

  <p>
    <strong>Publication:</strong>
    <%= board.publication_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= board.user_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= board.body %>
  </p>

</div>
